---
# File: roles/chezmoi/tasks/main.yml

# On a fresh install, there is no knowledge of Github - so add it.
# - name: Add GitHub to known_hosts (to avoid host key verification failure)
#   command: ssh-keyscan github.com >> ~/.ssh/known_hosts
#   args:
#     creates: ~/.ssh/known_hosts  # Only run if known_hosts doesn't exist yet

- name: Add GitHub to known_hosts
  known_hosts:
    name: github.com
    key: "{{ lookup('pipe', 'ssh-keyscan github.com') }}"
    state: present
  retries: 3
  delay: 5
  register: result
  until: result is succeeded

- name: Ensure chezmoi is installed
  community.general.homebrew:
    name: chezmoi
    state: present

# Grab the dotfiles from the configured repository.
- name: Initialize chezmoi with dotfiles repo
  command: chezmoi init {{ chezmoi_repo }}

- name: Apply chezmoi changes
  command: chezmoi apply

# This is due to how I have setup my $ZDOTDIR and keeping everything there.
- name: Create symlink for .zshenv
  file:
    src: ~/.config/zsh/.zshenv
    dest: ~/.zshenv
    state: link
    force: yes

# Success! Open up a real terminal and let ZINIT do its thing.
- name: Open Ghostty app
  command: open -a Ghostty